<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii Art</title>
</head>
<body>
    <form method="POST">
        <br>
        <label for = "text" id= "a">Text:</label> 
        
        <textarea name="asciiInput" id="asciiInput" cols="30" rows="5" placeholder="Insert Text Here"></textarea>
        <br><br>

        <label for="banner">Choose Banner:</label>
        <select id="banner" name="banner">
         <option value="">Select Banner</option>
          <option value="shadow.txt">Shadow</option>
          <option value="standard.txt">Standard</option>
          <option value="thinkertoy.txt">Thinkertoy</option>
        </select>
        <input type="submit" value="Submit" autocomplete="off">
      </form>
      <div><pre>{{.}}</pre></div>
</body>
</html>